---
interface Props {
  img: string;
  img2: string;
  title: string;
  date: string;
  item1: string;
  item2: string;
  item3: string;
  item4: string;
  item5: string;
}

const { img, img2, title, date, item1, item2, item3, item4, item5 } =
  Astro.props;
---

<li
  data-aos="fade-up"
  data-aos-duration="2000"
  class="link-card p-4 border border-3 rounded-lg bg-gray-800 w-[700px] h-[350px] border-animate max-md:w-[600px] max-md:h-[350px] max-sm:w-[300px] max-sm:h-[650px]"
>
  <div class="flex flex-col space-y-4 items-start justify-center m-8">
    <div
      class="flex flex-row items-center space-x-4 max-sm:flex max-sm:flex-col"
    >
      <div class="flex flex-row items-center space-x-4">
        <img src={img} alt={img} class="w-20 h-20 object-cover" />
        <img src={img2} alt={img2} class="w-20 h-20 object-cover" />
      </div>
      <div>
        <h2 class="text-2xl text-white font-mono font-semibold mt-2 uppercase max-sm:text-lg">
          {title}
        </h2>
      </div>
    </div>
    <div class="text-lg font-semibold text-white text-center max-sm:text-base">
      <h2 class="font-mono">{date}</h2>
    </div>
    <div class="flex flex-col items-start space-y-1">
      <ul class="list-disc list-inside text-white font-mono">
        <li class="">{item1}</li>
        <li>{item2}</li>
        <li>{item3}</li>
        <li>{item4}</li>
        <li>{item5}</li>
      </ul>
    </div>
  </div>
</li>
<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }

  @keyframes borderGlow {
    0% {
      border-color: rgba(255, 255, 255, 0.8);
    }
    50% {
      border-color: rgba(255, 255, 255, 0.1);
    }
    100% {
      border-color: rgba(255, 255, 255, 0.8);
    }
  }

  .link-card:hover {
    animation: borderGlow 1.5s linear infinite;
  }
</style>
